/* The following code is built with desktop at the forefront. */

@font-face {
    font-family: "Merienda";
    src: url("font/Merienda.ttf");
}

/* ============================= Global Styles ============================= */
html {
    font-size: 62.5%; /* Most browser defaults are at 16px, so 62.5% of 16 is 10px! */
}
section {
    margin: 3rem 1.5rem;
}
body {
    font-size: 1.5rem;
    background-color: rgb(252, 218, 174);
    color:rgb(121, 0, 46);
    font-family: "Merienda", sans-serif;
}

/* ============================= Typography ============================= */
h1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: cursive, sans-serif;
    color:rgb(121, 0, 168);
}
h2 {
    padding: 0.1rem 1.5rem;
    border-radius: 1.5rem;
    background-color: rgb(0, 151, 151);
    color:rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace, sans-serif;
}
p {
    border-radius: 1.5rem;
    color:rgb(121, 0, 46);
}
ul {
    list-style-type: none;
}
li {
    padding: 0.4rem;
    margin: 0.2rem 0;
}
a {
    color:rgb(196, 0, 186)
}

/* ============================= Media ============================= */
img {
    margin-left: auto;
    padding: 1.5rem 3rem;
    display: block;
    object-fit: contain;
}

/* ============================= ID Styles ============================= */
/* Section Header Behavior */
#about > h2 {
    text-align: left;
}
#skills > h2 {
    text-align: center;
}
#experience > h2 {
    text-align: left;
}
#projects > h2 {
    text-align: right;
}
#connect > h2 {
    text-align: left;
}

/* About */
#about > p {
    margin: 0.5rem 3rem;
    padding: 1.5rem;
    background-color: rgb(255, 159, 33);
}

/* Skills */
#skills {
    text-align: center;
}
#skills > h2 {
    text-align: right;
}

/* Leave a Message */
#send-message > h2 {
    text-align: right;
}

/* ============================= Class Styles =============================*/

/* Nav Bar */
.sect-sel {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;

    padding: 1.5rem;
    margin: 0 4.5rem;
    background-color: rgb(253, 177, 63);
    border-radius: 1.5rem;
}

/* Skills */
.skills-list {
    padding: 0 3rem;
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: auto;
    gap: 1.5rem;
}

.skill-item {
    background-color: rgb(253, 177, 63);
    border-radius: 1.5rem;
}

/* Experience */
.exp-name {
    grid-area: exp-name;
}
.exp-date {
    grid-area: exp-date;
    text-align: right;
}
.exp-desc {
    grid-area: exp-desc;
    margin: 0 0.5rem
}
.exp-desc > li {
    border-left: 0.4rem solid rgb(173, 55, 0);
    margin-bottom: 1.5rem;
}

.experience-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "exp-name exp-name . exp-date"
        "exp-desc exp-desc exp-desc exp-desc";

    margin: 0 0.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-size: 1.5rem; 
}

/* Project */
.project-item {
    text-align: right;
    border-right: 0.4rem solid rgb(173, 55, 0);
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
}


/* Connect */
.connect-items {
    display: flex;
    justify-content: space-around;
}
.prof-link-photos {
    padding: 1.5rem 0.8rem;
    display: block;
    width: auto;
    height: 6rem;
}
.phone {
    display: none;
}

/* Messages */
.one-form-field {
    margin: 0 2rem;
    padding: 0.5rem;
}
.one-form-field > label {
    font-size: 2rem;
}
.one-form-field > input {
    font-size: 3rem;
    width: 33dvw;
}
.one-form-field > textarea {
    width: 55dvw;
}

#send-message button {
    font-size: 3rem;
}


/* Individual Photos */
.krc-food-pic {
    max-width: 40dvw;
}

/* Adding background color to text */
.emph-txt {
    display: inline-block; /* ensures that highlights don't overlap text */
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(255, 159, 33);
}

/* ============================= Device Compatibility =============================*/

/* Phone Display */
@media (max-width: 500px) {
/* == Typography == */
h1 {
    font-size: 5.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: rgb(255, 168, 98);

}
h2 {
    font-size: 3.5rem;
    padding: 0.4rem 2.0rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;    
}
p {
    margin: 0.5rem 0.5rem;
    font-size: 1.7rem;
}

/* == Class Styles == */
.krc-food-pic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

    transform: rotate(90deg);
    max-width: 70dvw;
}
.sect-sel {
    font-size: 2rem;
    padding: 2.5rem;
    margin: 0 2.5rem;
}
.exp-date {
    text-align: center;
}

.project-item {
    text-align: center;
    border: 0.4rem solid rgb(173, 55, 0);
    margin: 1.5 rem 2.5rem;
    font-size: 2rem
}

.one-form-field > input {
    font-size: 4rem;
    width: 70dvw;
}
.one-form-field > textarea {
    min-width: 60dvw;
    min-height: 50dvh;
}

#send-message button {
    font-size: 6rem;
    margin: 0 10rem;
}

.phone {
    display: block;
}
.desktop {
    display: none;
}
/* Section Header Behavior */
#about > h2 {
    text-align: center;
}
#skills > h2 {
    text-align: center;
}
#experience > h2 {
    text-align: center;
}
#projects > h2 {
    text-align: center;
}
#connect > h2 {
    text-align: center;
}
#send-message > h2 {
    text-align: center;
}
#messages > h2 {
    text-align: center;
}
}

/* Tablet Display */
@media (min-width: 500px) and (max-width: 1000px) {
/* == Typography == */
h1 {
    font-size: 6.5rem;
    text-align: center;
}
h2 {
    font-size: 4rem;
    padding: 1rem 3rem;
}
p {
    margin: 0.5rem 1rem;
    font-size: 2.3rem;
}

/* == Class Styles == */
.krc-food-pic {
    margin-left: auto;
    margin-right: auto;

    max-width: 70dvw;
}
.sect-sel {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 0 2.5rem;
}
.exp-date {
    text-align: center;
}

.project-item {
    font-size: 2.5rem;
}

.one-form-field > input {
    font-size: 4rem;
    width: 40dvw;
}
.one-form-field > textarea {
    min-height: 30dvh;
}

#send-message button {
    font-size: 4rem;
}
}